Android >= 0
Baidu >= 0
BlackBerry >= 0
bb >= 0
Chrome >= 0
ChromeAndroid >= 0
and_chr >= 0
ios_saf >= 0
Edge >= 0
and_chr >= 0
ios_saf >= 0
Electron >= 0
Firefox >= 0
ff >= 0
FirefoxAndroid >= 0
and_ff >= 0
ios_saf >= 0
Explorer >= 0
ie >= 0
ie_mob >= 0
Node >= 0
kaios >= 0
Opera >= 0
op_mob >= 0
ios_saf >= 0
OperaMini >= 0
and_qq >= 0
Safari >= 0
iOS >= 0
ios_saf >= 0
Samsung >= 0
UCAndroid >= 0
and_uc >= 0